<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Dados - SENAI.Agile</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link href="{% static 'css/listar_dados.css' %}" rel="stylesheet">
</head>
<body>
<header class="d-flex justify-content-between align-items-center">
    <div class="logo-container">
        <img src="{% static 'images/senai-logo.png' %}" alt="Logo" class="logo-img">
        <h1 class="logo">SENAI.Agile</h1>
    </div>
    <div class="navigation">
        <a href="{% url 'home' %}" class="btn btn-secondary">Home</a>
        <a href="{% url 'cadastrar-interesse' %}" class="btn btn-secondary">Cadastrar Interesse</a>
        <a href="{% url 'cadastrar-curso' %}" class="btn btn-secondary">Cadastrar Curso</a>
        <a href="{% url 'listar-dados' %}" class="btn btn-secondary">Listar Dados</a>
        <a href="{% url 'relatorios' %}" class="btn btn-secondary">Relatórios</a>
        <a href="{% url 'csv-upload' %}" class="btn btn-secondary">Importar Dados</a>
        <a href="{% url 'admin' %}" class="btn btn-secondary">Administração</a> <!-- Novo link -->
    </div>
    <div class="user-info">
        {% if user.is_authenticated %}
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="userDropdown"
                        data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 16px; margin-right: 10px; background-color: #e60000; color: white; border-color: #e60000;">
                    Olá, {{ user.username }}
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                    <li><a class="dropdown-item" href="{% url 'alterar-senha' %}">Alterar Senha</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item text-danger" href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </div>

        {% else %}
            <a href="{% url 'login' %}" class="btn btn-primary" style="font-size: 16px; margin-right: 10px; background-color: #e60000; color: white; border-color: #e60000;">Login</a>
        {% endif %}
    </div>
</header>

<div class="list-dados-fullwidth">
    <h2 class="text-center mb-4">Listar Dados</h2>

    <form method="get" class="mb-4">
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="data_inicio">Data Início:</label>
                <input type="date" name="data_inicio" id="data_inicio" class="form-control"
                       value="{{ selected_data_inicio }}">
            </div>
            <div class="form-group col-md-2">
                <label for="data_fim">Data Fim:</label>
                <input type="date" name="data_fim" id="data_fim" class="form-control"
                       value="{{ selected_data_fim }}">
            </div>
            <div class="form-group col-md-4">
                <label for="curso">Curso:</label>
                <select name="curso" id="curso" class="form-control">
                    <option value="">Todos os Cursos</option>
                    {% for curso in cursos %}
                        <option value="{{ curso.id }}"
                                {% if selected_curso == curso.id|stringformat:"s" %}selected{% endif %}>
                            {{ curso.nome_curso }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-2">
                <label for="realizado_contato">Realizado Contato:</label>
                <select name="realizado_contato" id="realizado_contato" class="form-control">
                    <option value="">Todos</option>
                    {% for valor, texto in realizado_contato_choices %}
                        <option value="{{ valor }}" {% if selected_realizado_contato == valor %}selected{% endif %}>
                            {{ texto }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <!-- **Novo filtro de Status Ativo/Inativo** -->
            <div class="form-group col-md-2">
                <label for="status">Status:</label>
                <select name="status" id="status" class="form-control">
                    <option value="todos" {% if selected_status == "todos" %}selected{% endif %}>Todos</option>
                    <option value="ativo" {% if selected_status == "ativo" %}selected{% endif %}>Ativo</option>
                    <option value="inativo" {% if selected_status == "inativo" %}selected{% endif %}>Inativo</option>
                </select>
            </div>
            <!-- Campo de Pesquisa por Nome -->
            <div class="form-group col-md-5">
                <label for="nome_pesquisa">Nome:</label>
                <input type="text" name="nome" id="nome_pesquisa" class="form-control"
                       placeholder="Digite um nome..." value="{{ selected_nome }}">
            </div>
            <div class="form-group col-md-3">
                <label for="telefone">Celular:</label>
                <input type="text" name="telefone" id="telefone" class="form-control telefone-mask"
                       value="{{ selected_telefone }}" placeholder="(XX) XXXXX-XXXX">
            </div>
            <div class="form-group col-md-3">
                <label for="email">E-mail:</label>
                <input type="text" name="email" id="email" class="form-control"
                       value="{{ selected_email }}" placeholder="Digite um e-mail...">
            </div>


            <div class="justify-content-end" style="margin-top: 25px; margin-left: 30px;">
                <button type="submit" class="btn btn-primary px-4 py-2"
                        style="font-size: 20px;">
                    Filtrar
                </button>
            </div>
        </div>


    </form>


    <!-- Paginação -->
    {% if is_paginated %}
        <div class="d-flex justify-content-center mt-4">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link"
                               href="?page=1{% if query_string %}&{{ query_string }}{% endif %}"
                               aria-label="First">
                                <span aria-hidden="true">&laquo;&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link"
                               href="?page=




                                       {{ page_obj.previous_page_number }}{% if query_string %}&{{ query_string }}{% endif %}"
                               aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}

                    {% for i in page_obj.paginator.page_range %}
                        {% if page_obj.number == i %}
                            <li class="page-item active">
                                <span class="page-link">{{ i }}</span>
                            </li>
                        {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
                            <li class="page-item">
                                <a class="page-link"
                                   href="?page={{ i }}{% if query_string %}&{{ query_string }}{% endif %}">{{ i }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link"
                               href="?page=




                                       {{ page_obj.next_page_number }}{% if query_string %}&{{ query_string }}{% endif %}"
                               aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link"
                               href="?page=




                                       {{ page_obj.paginator.num_pages }}{% if query_string %}&{{ query_string }}{% endif %}"
                               aria-label="Last">
                                <span aria-hidden="true">&raquo;&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    {% endif %}






    {% if interesses %}
        <div class="table-responsive">
            <table class="table table-striped table-bordered" style="width: 100%">
                <thead>
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Celular</th>
                    <th>Curso</th>
                    <th>Data</th>
                    <th>Status</th>
                    <th>Contato</th>
                    <th>Ações</th>
                </tr>
                </thead>
                <tbody>
                {% for interesse in interesses %}
                    <tr {% if not interesse.ativo %}class="table-danger"{% endif %}>
                        <td>{{ interesse.razao_social }}</td>
                        <td>{{ interesse.email }}</td>
                        <td>{{ interesse.celular }}</td>
                        <td>{{ interesse.curso.nome_curso }}</td>
                        <td>{{ interesse.data_envio|date:"d/m/Y" }}</td>
                        <td>{% if interesse.ativo %}<span class="text-success">Ativo</span>{% else %}
                            <span class="text-danger">Inativo</span>{% endif %}
                        </td>
                        <td class="{% if interesse.realizado_contato == 'sim' %}text-success
                                {% elif interesse.realizado_contato == 'Inativo' %}text-secondary
                                {% else %}text-danger{% endif %}">
                            {{ interesse.realizado_contato|default:"NAO"|upper }}
                        </td>
                        <td>
                            {% if interesse.ativo %}
                                <a href="{% url 'editar-interesse' interesse.pk %}"
                                   class="btn btn-warning btn-md">Editar</a>
                            {% else %}
                                <button class="btn btn-secondary btn-md" disabled>Inativo</button>
                            {% endif %}
                            <a href="{% url 'visualizar-interesse' interesse.pk %}"
                               class="btn btn-info btn-md">Visualizar</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>



    {% else %}
        <p class="text-center">Nenhum dado encontrado.</p>
    {% endif %}
</div>

<footer class="footer mt-auto py-3">
    <div class="container">
        <p>&copy; 2024 SENAI Agile. Todos os direitos reservados.</p>
    </div>
</footer>

<!-- ✅ Versão correta do jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- ✅ Popper.js (Necessário para dropdowns no Bootstrap) -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>

<!-- ✅ Bootstrap (Versão 5) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        function aplicarMascaraTelefone(input) {
            input.addEventListener("input", function () {
                let value = input.value.replace(/\D/g, ""); // Remove tudo que não for número

                if (value.length > 11) {
                    value = value.slice(0, 11); // Limita a 11 dígitos (exemplo: 11999998888)
                }

                if (value.length > 6) {
                    input.value = `(${value.slice(0, 2)}) ${value.slice(2, 7)}-${value.slice(7)}`;
                } else if (value.length > 2) {
                    input.value = `(${value.slice(0, 2)}) ${value.slice(2)}`;
                } else if (value.length > 0) {
                    input.value = `(${value}`;
                } else {
                    input.value = "";
                }
            });
        }

        // Aplica a máscara nos campos com a classe 'telefone-mask'
        document.querySelectorAll(".telefone-mask").forEach(aplicarMascaraTelefone);
    });
</script>

</body>
</html>
